#container {
  display: flex;
}

.case {
  border: 1px solid black;
  border-left: none;
  border-bottom: none;
  height: 18px;
  width: 18px;
}

.salle.bordureHaut {
  border-top: 1px solid black;
  height: 18px;
}

.salle.bordureDroite {
  border-right: 1px solid black;
  width: 18px;
}

.salle {
  height: 19px;
  width: 19px;
}

/*.balcon {
  background-color: aquamarine;
}

.fosse {
  background-color: cadetblue;
}

.scene {
  background-color: chocolate;
}

.bar {
  background-color: blueviolet;
}

.coulisseJardin {
  background-color: crimson;
}

.coulisseCour {
  background-color: gold;
}

.salleDecors {
  background-color: chartreuse;
}

.loges {
  background-color: hotpink;
}

.salleCostumes {
  background-color: darkorange;
}*/

#plateau {
  display: grid;
  grid-template-columns: repeat(36, 1fr);
  border: 1px solid black;
}
