#container {
  display: flex;
}

#plateau {
  position: relative;
  display: grid;
  grid-template-columns: repeat(36, 1fr);
  border: 1px solid black;
}

/* Grille plateau */
.case {
  border: 1px solid black;
  border-left: none;
  border-bottom: none;
  height: 18px;
  width: 18px;
}

.salle {
  height: 19px;
  width: 19px;
}

.salle.bordureHaut {
  border-top: 1px solid black;
  height: 18px;
}

.salle.bordureDroite {
  border-right: 1px solid black;
  width: 18px;
}

/* Nom salle */
#plateau > span {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}

#labelBalcon {
  top: 200px;
  left: 3px;
}

#labelFosse {
  top: 200px;
  left: 148.5px;
}

#labelScene {
  top: 200px;
  left: 414px;
}

#labelBar {
  top: 19.5px;
  left: 158px;
}

#labelCoulisseJardin {
  top: 19.5px;
  left: 362.5px;
}

#labelCoulisseCour {
  bottom: 19.5px;
  left: 366.5px;
}

#labelSalleDecors {
  top: 49px;
  right: 0px;
  width: 97px;
  text-align: center;
}

#labelLoges {
  top: 200px;
  left: 614.5px;
}

#labelSalleCostumes {
  top: 334px;
  right: 0px;
  width: 97px;
  text-align: center;
}

/* Couleur salle */
.balcon {
  background-color: rgba(187, 255, 187, 0.5);
}

.fosse {
  background-color: rgba(187, 187, 255, 0.5);
}

.scene {
  background-color: rgba(187, 255, 255, 0.5);
}

.bar {
  background-color: rgba(221, 187, 221, 0.5);
}

.coulisseJardin {
  background-color: rgba(255, 255, 187, 0.5);
}

.coulisseCour {
  background-color: rgba(255, 187, 187, 0.5);
}

.salleDecors {
  background-color: rgba(211, 169, 250, 0.5);
}

.loges {
  background-color: rgba(248, 200, 220, 0.5);
}

.salleCostumes {
  background-color: rgba(255, 213, 128, 0.5);
}
